{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Backgrounds</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'backgrounds-add' %}" type="button"
            class="btn btn-gradient-primary btn-rounded btn-fw"><span
              class="mdi mdi-plus"></span> Add
            Background</a>
        </li>
      </ol>
    </nav>
  </div>

  <!-- Step Progress Tracker -->
  <div class="row">
    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <a href="{% url 'frames' %}"
          class="text-decoration-none text-black">
          <div class="step-counter active">1</div>
          <div class="step-name">Frame</div>
        </a>
      </div>
      <div class="stepper-item completed">
        <a href="{% url 'backgrounds' %}"
          class="text-decoration-none">
          <div class="step-counter">2</div>
          <div class="step-name">Stylist</div>
        </a>
      </div>
      <div class="stepper-item">
        <a href="{% url 'stickers' %}" class="text-decoration-none text-black">
          <div class="step-counter">3</div>
          <div class="step-name">Sticker</div>
        </a>
      </div>
      <div class="stepper-item">
        <a href="{% url 'payments' %}" class="text-decoration-none text-black">
          <div class="step-counter">4</div>
          <div class="step-name">Payment</div>
        </a>
      </div>
    </div>
  </div>
  <!-- Step Progress Tracker -->

  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Backgrounds List</h4>
          {% if backgrounds %}

          <table id="backgrounds-table" class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Position</th>
                <th>Photo</th>
                <th>Date Created</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              {% for background in backgrounds %}
              <tr>
                <td>{{background.title}}</td>
                <td>{{background.position}}</td>
                <td><img src="{{background.photo.url}}"
                    alt="Photo Preview"></td>
                <td>{{background.created_at}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-6 text-end">
                      <a href="{% url 'backgrounds-edit' background.id %}"
                        type="button"
                        class="btn btn-gradient-primary btn-rounded btn-fw"><span
                          class="mdi mdi-pencil"></span> Edit</a>
                    </div>
                    <div class="col-sm-6 text-start">
                      <a href="{% url 'backgrounds-delete' background.id %}"
                        type="button"
                        class="delete-background btn btn-danger btn-rounded"><span
                          class="mdi mdi-trash-can"></span> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          {% else %}
          <p class="card-description">🎉 Yay, Let setup first background!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/main/backgrounds.js' %}" />
{% endblock %}
