{% extends "base.html" %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        <h4 class="card-title">Device</h4>
        <p class="card-description">Edit Device</p>
        <form method="post" enctype="multipart/form-data" novalidate class="forms-sample">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Name" value="{{ frame.title }}"/>
          </div>
          <div class="form-group">
            <label for="device_id">Device</label>
            <select id="device_id" name="device_id" class="form-select" aria-label="Default select example">
              {% for device in devices %}
              <option value="{{ device.id }}" {% if device.id == frame.device_id.id %} selected {% endif %}>{{ device.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <input class="form-control" type="file" id="photo" name="photo" onchange="previewPhoto(event, 'photo_preview')">
            <img id="photo_preview" src="{{ frame.photo.url }}" alt="Photo Preview"><br>
          </div>
          <div class="form-group">
            <label for="photo_hover">Photo (hover)</label>
            <input class="form-control" type="file" id="photo_hover" name="photo_hover" onchange="previewPhoto(event, 'photo_hover_preview')">
            <img id="photo_hover_preview" src="{{ frame.photo_hover.url }}" alt="Photo Hover Preview"><br>
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <select id="position" name="position" class="form-select" aria-label="Default select example">
              {% for p in positions %}
                <option value="{{ p }}" {% if p == frame.position %} selected {% endif %}>{{ p }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" min="1" name="price" class="form-control" id="price" value="{{ frame.price }}"
              placeholder="Price" />
          </div>                      
          <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
          <a href="{% url 'frames' %}" class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>  

  <script>
    function previewPhoto(event, preview) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function() {
            var img = document.getElementById(preview);
            img.src = reader.result;
            img.style.display = 'block';
        }
        reader.readAsDataURL(input.files[0]);
    }    
  </script>
{% endblock %}